@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "./utils.css";


html {
  scroll-behavior: smooth;
}
h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}
.title {
  font-family: "Bebas Neue", sans-serif;
}

.hero-background {
  background: #626660;
  background: linear-gradient(
    0deg,
    rgba(98, 102, 96, 1) 0%,
    rgba(98, 102, 96, 1) 35%,
    rgba(140, 140, 138, 1) 50%,
    rgba(98, 102, 96, 1) 65%,
    rgba(98, 102, 96, 1) 100%
  );
}

.button-video.active {
  background-color: #4b5563; /* bg-gray-600 */
  color: #fff;
}
